@font-face {
  font-family: 'PTSans';
  src:
    url('/fonts/PTSans/ptsans.ttf') format('truetype'),
    url('/fonts/PTSans/ptsans.woff') format('woff'),
    url('/fonts/PTSans/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src:
    url('/fonts/PTSans/ptsansbold.ttf') format('truetype'),
    url('/fonts/PTSans/ptsansbold.woff') format('woff'),
    url('/fonts/PTSans/ptsansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src:
    url('/fonts/PTSans/ptsansitalic.ttf') format('truetype'),
    url('/fonts/PTSans/ptsansitalic.woff') format('woff'),
    url('/fonts/PTSans/ptsansitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nexa';
  src:
    url('/fonts/Nexa/nexalight.ttf') format('truetype'),
    url('/fonts/Nexa/nexalight.woff') format('woff'),
    url('/fonts/Nexa/nexalight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src:
    url('/fonts/Nexa/nexabold.ttf') format('truetype'),
    url('/fonts/Nexa/nexabold.woff') format('woff'),
    url('/fonts/Nexa/nexabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src:
    url('/fonts/Nexa/quicksandbold.ttf') format('truetype'),
    url('/fonts/Nexa/quicksandbold.woff') format('woff'),
    url('/fonts/Nexa/quicksandbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src:
    url('/fonts/Helvetica/helvetica.ttf') format('truetype'),
    url('/fonts/Helvetica/helvetica.woff') format('woff'),
    url('/fonts/Helvetica/helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBlack';
  src:
    url('/fonts/NexaBlack/nexablack.ttf') format('truetype'),
    url('/fonts/NexaBlack/nexablack.woff') format('woff'),
    url('/fonts/NexaBlack/nexablack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBook';
  src:
    url('/fonts/NexaBook/nexabook.ttf') format('truetype'),
    url('/fonts/NexaBook/nexabook.woff') format('woff'),
    url('/fonts/NexaBook/nexabook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
