html,
body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
