include ../blocks/**/*.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    title Gallery
  body
    .wrapper
      block content
