extends ../layouts/main.pug

block content
  +loader-image([
    {
      type: 'text',
      placeholder: 'Введите URL изображения',
      class: 'loader-image__input-url',
      id: false
    },
    {
      type: 'file',
      placeholder: false,
      class: 'loader-image__input-file',
      id: 'add'
    }
  ])
  +gallery-image
