mixin loader-image(items)
  .loader-image
    .container.loader-image-container
      span.loader-image__title «Gallery» ver 2.0
      span.loader-image__title.loader-image__title--subtitle Для создания галереи, выберите один из вариантов загруки изображений
      .loader-image__box
        span.loader-image__info
        each item in items
          input.loader-image__input(type=item.type, placeholder=item.placeholder, class=item.class, id=item.id)
        label.loader-image__label(for=items[1].id) Добавить файл
        button.loader-image__button Загрузить
        button.loader-image__button.loader-image__button--remove Отчистить галерею
