.loader-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(159, 159, 159, 0.5);

  &-container {
    align-items: center;
  }

  &__title {
    margin-bottom: 15px;
    font-family: PTSans, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #2d3c84;

    &--subtitle {
      text-align: center;
      font-size: 18px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
  }

  &__info {
    margin-bottom: 25px;
    font-family: PTSans, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #bd453f;

    &--true {
      color: #3fbd5b;
    }
  }

  &__input {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: none;

    &-file {
      display: none;
    }
  }

  &__label {
    margin-bottom: 15px;
    padding: 10px 15px;
    background: #3fbd5b;
    font-family: 'NexaBook', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
  }

  &__button {
    margin-bottom: 15px;
    padding: 10px 15px;
    font-family: 'NexaBook', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    background: #3f5abd;
    border: none;

    &--remove {
      margin-bottom: 0;
      background: #bd453f;
    }
  }
}
