.gallery-image {
  background: rgba(159, 159, 159, 0.5);

  &__box {
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, 80px);
    grid-auto-flow: dense;

    @media (min-width: 480px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 600px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(7, minmax(93px, 1fr));
    }

    @media (min-width: 991px) {
      grid-template-columns: repeat(8, minmax(93px, 1fr));
    }

    &--disable {
      display: none;
    }
  }

  &__item {
    &--flow-album-medium {
      grid-area: auto / auto / span 2 / span 4;

      @media (min-width: 480px) {
        grid-area: auto / auto / span 2 / span 3;
      }
    }

    &--flow-album-large {
      grid-area: auto / auto / span 2 / span 4;
    }

    &--flow-portrait {
      grid-area: auto / auto / span 3 / span 2;

      @media (min-width: 600px) {
        grid-area: auto / auto / span 4 / span 2;
      }

      @media (min-width: 768px) {
        grid-area: auto / auto / span 3 / span 2;
      }
    }

    &--flow-normal {
      grid-area: auto / auto / span 2 / span 2;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
